@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("//db.onlinewebfonts.com/c/ce4b0ee545ec52c2ec8cec62d23ffb09?family=Calculator");
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@mixin testBorder() {
  border: 1px solid white;
}

@mixin testMargin($y-margin: 1rem, $x-margin: 1rem) {
  margin: $y-margin $x-margin;
}

@mixin testPadding($y-padding: 1rem, $x-padding: 1rem) {
  padding: $y-padding $x-padding;
}

@mixin setCalculatorWidth($breakpoint: "sm", $factor: 0.45) {
  width: map-get($grid-breakpoints, $breakpoint) * $factor;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
}

#outer-container {
  display: flex;
  height: 100vh;
  background-color: $blue-200;
}

#calculator-body {
  @include setCalculatorWidth();

  color: $white;
  border: 2px solid $gray-700;
  background-color: $black;

  #display-container {
    @include testBorder();
    @include testPadding($x-padding: 0);
    font-family: "Calculator", monospace;

    hr {
      @include testMargin(0, 0);
    }
  }

  #keypad {
    width: 100%;

    div[class*="col"] {
      @include testBorder();
      background-color: $gray-800;
    }

    .no-border {
      border: 0 !important;
    }

    .operand {
      background-color: $gray-600 !important;
    }

    #clear {
      background-color: $red-500;
    }

    #equals {
      background-color: $blue-700;
    }
  }
}
