// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

@mixin testBorder() {
  border: 1px solid black;
}

@mixin testMargin($y-margin: 1rem, $x-margin: 1rem) {
  margin: $y-margin $x-margin;
}

@mixin testPadding($y-padding: 1rem, $x-padding: 1rem) {
  padding: $y-padding $x-padding;
}

#outer-container {
  height: 100%;
}

#calculator-body {
  @include testBorder();
  // @include testMargin();

  #display-container {
    @include testBorder();
    @include testMargin();
    @include testPadding($x-padding: 0);

    hr {
      margin: 0;
    }
  }

  #keypad {
    @include testMargin($x-margin: 0);

    div[class*="col"] {
      @include testBorder();
    }
  }
}
